main {
  padding: 30px;
  text-align: center;
  min-height: 300px;
}

main h2 {
  margin-bottom: 15px;
}

main p {
  margin-bottom: 20px;
}

main button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}